
body {
    background-image: url('sunflower.jpg');
    background-size: cover;
    background-repeat: no-repeat
}


#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#input {
    background-color: rgba(142, 127, 161, 0.3);
    border-radius: 20px;
    border: 3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
    text-shadow: 1px 1px black;
}
#input:focus {
    background-color: #fff;
}
#when-where {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#city {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}
#date {
    color: #FFF;
    font-size: 20px;
   text-shadow: 
      -0   -1px 2px #11577C,
      0   -1px 2px #11577C,
      -0    1px 2px #11577C,
      0    1px 2px #11577C,
      -1px -0   2px #11577C,
      1px -0   2px #11577C,
      -1px  0   2px #11577C,
      1px  0   2px #11577C,
      -1px -1px 2px #11577C,
      1px -1px 2px #11577C,
      -1px  1px 2px #11577C,
      1px  1px 2px #11577C,
      -1px -1px 2px #11577C,
      1px -1px 2px #11577C,
      -1px  1px 2px #11577C,
      1px  1px 2px #11577C;
}
#now {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#temperature {
    color: #FFF;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}
#feelsLike {
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}
#conditions {
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
#variation {
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
}
  
#feelsLike, #conditions, #variation, #city, #temperature {
    text-shadow: 
      -0   -1px 4px #11577C,
      0   -1px 4px #11577C,
      -0    1px 4px #11577C,
      0    1px 4px #11577C,
      -1px -0   4px #11577C,
      1px -0   4px #11577C,
      -1px  0   4px #11577C,
      1px  0   4px #11577C,
      -1px -1px 4px #11577C,
      1px -1px 4px #11577C,
      -1px  1px 4px #11577C,
      1px  1px 4px #11577C,
      -1px -1px 4px #11577C,
      1px -1px 4px #11577C,
      -1px  1px 4px #11577C,
      1px  1px 4px #11577C;
  }


@media all and (max-width: 912px) {
  body {
     background-image: url(sun.jpg);
  }
}
@media all and (max-width: 375px) {
   #city {
    font-size: 30px;
   }
   #temperature {
    font-size: 80px;
   }
  }
  @media all and (max-width: 320px) {
    #input {
        width: 200px;
    }
    #city {
        font-size: 23px;
       }
       #temperature {
        font-size: 60 px;
       }
  }